body {
	background: $base-bg;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Titillium;
}

.app-wrapper {
	position: relative;
	
	@include breakpoint($small-tab, true) {
		margin-top: 50px;
	}
}

.site-title {
	text-align: center;
	color: white;
	margin: 30px 0px 0px;
}

.main-content {
	background: rgba(211, 45, 45, 0.9);
	padding: 20px 10px;
	@include box-shadow($base-shadow 2px 2px 3px);
	
	@include breakpoint($tab, true) {
		@include border-radius(4px);
	}
} 

a {
	outline: none;
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	list-style: none;
}

input {
	margin: 0px;
}

input[type="submit"] {
	border: 0px;
	padding: 10px 20px;
	cursor: pointer;
}