form {
	margin: 10px 0px;
}

button, input[type="submit"] {
	border: 0px;
	padding: 10px 20px;
	cursor: pointer;
	@include border-radius(4px);
	border: 1px solid $button-border;
    background: $button-submit-bg;
    color: $button-submit-color;

	&:hover, &:focus, &:active {
		background: $button-hover !important;
		@include transition-property(background);
		@include transition-duration(0.3s);
		@include transition-timing-function(ease-in);
	}
}