span.flash-message {
    display: block;
    opacity: 0;
    text-align: center;
    font-size: 16px;
    font-style: italic;
    background: $messsage-bg;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 9px;
    color: $message-color;
    @include border-radius(4px);
}