/* line 1, ../sass/base/_base.scss */
body {
  background: white;
}

/* line 5, ../sass/base/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Titillium;
}

/* line 9, ../sass/base/_base.scss */
.app-wrapper {
  position: relative;
}

/* line 17, ../sass/base/_base.scss */
.site-title {
  text-align: center;
  color: white;
  margin: 100px 0px 0px;
  text-shadow: 2px 2px 1px #656257;
}
@media (min-width: 480px) {
  /* line 17, ../sass/base/_base.scss */
  .site-title {
    margin: 50px 0px 0px;
  }
}

/* line 28, ../sass/base/_base.scss */
.main-content {
  background: #bcaa92;
  padding: 20px 10px;
  -moz-box-shadow: #656257 2px 2px 3px;
  -webkit-box-shadow: #656257 2px 2px 3px;
  box-shadow: #656257 2px 2px 3px;
}
@media (min-width: 768px) {
  /* line 28, ../sass/base/_base.scss */
  .main-content {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }
}

/* line 38, ../sass/base/_base.scss */
a {
  outline: none;
}

/* line 42, ../sass/base/_base.scss */
ul {
  margin: 0px;
  padding: 0px;
}

/* line 47, ../sass/base/_base.scss */
li {
  list-style: none;
}

/* line 51, ../sass/base/_base.scss */
input {
  margin: 0px;
}

/* line 55, ../sass/base/_base.scss */
input[type="submit"] {
  border: 0px;
  padding: 10px 20px;
  cursor: pointer;
}

/* line 1, ../sass/base/_errors.scss */
span.error {
  display: none;
  color: white;
  text-align: center;
  background: rgba(128, 124, 109, 0.9);
  margin: 0px;
  font-size: 14px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 11, ../sass/base/_errors.scss */
span.success {
  color: white;
  text-align: center;
  background: #5fb4ca;
  font-size: 14px;
  display: block;
  padding: 7px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 10px;
}

/* line 1, ../sass/base/_forms.scss */
form {
  margin: 10px 0px;
}

/* line 5, ../sass/base/_forms.scss */
button, input[type="submit"] {
  border: 0px;
  padding: 10px 20px;
  cursor: pointer;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #499fb5;
  background: #5fb4ca;
  color: white;
}
/* line 14, ../sass/base/_forms.scss */
button:hover, button:focus, button:active, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
  background: #4497b2 !important;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 1, ../sass/base/_messages.scss */
span.flash-message {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  display: block;
  opacity: 0;
  text-align: center;
  font-size: 16px;
  font-style: italic;
  background: rgba(128, 124, 109, 0.9);
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  padding: 9px;
  color: white;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

@font-face {
  font-family: "Titillium";
  src: url('fonts/titillium/titillium-thin.eot?1418344108') format('embedded-opentype'), url('fonts/titillium/titillium-thin.ttf?1418344108') format('truetype'), url('fonts/titillium/titillium-thin.woff?1418344108') format('woff');
}
/* line 1, ../sass/components/_create-todo.scss */
.create-todo {
  margin: 0px auto 10px;
  text-align: center;
}
@media (min-width: 768px) {
  /* line 1, ../sass/components/_create-todo.scss */
  .create-todo {
    margin: 0px auto 10px;
  }
}
/* line 9, ../sass/components/_create-todo.scss */
.create-todo input[type="text"] {
  margin: 10px auto;
  height: 38px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
@media (min-width: 768px) {
  /* line 9, ../sass/components/_create-todo.scss */
  .create-todo input[type="text"] {
    margin: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    float: left;
    width: 70%;
  }
}
@media (min-width: 768px) {
  /* line 23, ../sass/components/_create-todo.scss */
  .create-todo input[type="submit"] {
    border-left: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 30%;
  }
}
/* line 33, ../sass/components/_create-todo.scss */
.create-todo .field:last-child {
  margin-top: 10px;
}
@media (min-width: 768px) {
  /* line 33, ../sass/components/_create-todo.scss */
  .create-todo .field:last-child {
    text-align: right;
  }
}
/* line 40, ../sass/components/_create-todo.scss */
.create-todo .field:last-child button {
  margin: 0px;
}

/* line 1, ../sass/components/_registration.scss */
.registration {
  border: 1px solid #e1e8ed;
  -moz-box-shadow: #656257 1px 1px 1px;
  -webkit-box-shadow: #656257 1px 1px 1px;
  box-shadow: #656257 1px 1px 1px;
  background: white;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-align: left;
  max-width: 100%;
  padding: 7px;
}
@media (min-width: 640px) {
  /* line 1, ../sass/components/_registration.scss */
  .registration {
    max-width: 80%;
    margin: 0px auto;
    padding: 20px;
  }
}
/* line 16, ../sass/components/_registration.scss */
.registration h5 {
  margin: 5px 10px;
  text-align: left;
  padding: 0px 5px;
}
/* line 22, ../sass/components/_registration.scss */
.registration button, .registration input[type="submit"] {
  background: #5fb4ca;
  color: white;
}

/* line 28, ../sass/components/_registration.scss */
.log-out {
  background: #5fb4ca;
  color: white;
}

/* line 33, ../sass/components/_registration.scss */
.field {
  margin: 5px 10px;
}
/* line 36, ../sass/components/_registration.scss */
.field input {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 42, ../sass/components/_registration.scss */
.log-in input[type="password"] {
  margin: 10px auto;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
@media (min-width: 768px) {
  /* line 42, ../sass/components/_registration.scss */
  .log-in input[type="password"] {
    margin: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    float: left;
    width: 65%;
  }
}
@media (min-width: 768px) {
  /* line 55, ../sass/components/_registration.scss */
  .log-in input[type="submit"] {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 35%;
    margin: 0px 0px;
    height: 37px;
  }
}

/* line 69, ../sass/components/_registration.scss */
.create input[name="create-password_repeat"]:last-child {
  margin: 10px auto;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
@media (min-width: 768px) {
  /* line 69, ../sass/components/_registration.scss */
  .create input[name="create-password_repeat"]:last-child {
    margin: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    float: left;
    width: 65%;
  }
}
@media (min-width: 768px) {
  /* line 83, ../sass/components/_registration.scss */
  .create input[type="submit"] {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 35%;
    margin: 0px 0px;
    height: 37px;
  }
}

/* line 1, ../sass/components/_todo.scss */
li {
  position: relative;
  background: #eeeeee;
  margin: 10px auto !important;
  max-width: 35rem !important;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: #656257 1px 1px 1px;
  -webkit-box-shadow: #656257 1px 1px 1px;
  box-shadow: #656257 1px 1px 1px;
}

/* line 11, ../sass/components/_todo.scss */
.todo button {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 30px;
  height: 30px;
  margin: auto 0px auto 10px;
  padding: 0px;
  border: none;
  text-align: center;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 24, ../sass/components/_todo.scss */
.todo label {
  padding: 15px 60px 15px 15px;
  margin-left: 45px;
  display: block;
  cursor: default;
}
/* line 31, ../sass/components/_todo.scss */
.todo form {
  margin: 0px;
}
/* line 35, ../sass/components/_todo.scss */
.todo input[type="checkbox"] {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 10px;
  width: 30px;
  height: 30px;
  margin: auto 0px auto 10px;
  padding: 0px;
  border: none;
  text-align: center;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 3, ../sass/pages/_home.scss */
.home .user {
  text-align: center;
  margin: 20px auto;
}

/* line 3, ../sass/pages/_login.scss */
.login .app-wrapper {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
