<div class="registration">
    <form class="user-login" method="POST" action="#">
        <div class="field">
            <input placeholder="Email" id="email" autofocus type="text" name="email">
        </div>
        <div class="field">
            <input placeholder="Password" id="password" type="password" name="password">
        </div>
        <div class="field">
            <input id="log-in" type="submit" value="Log in">
        </div>
    </form>


    <h5> <strong>New to RESTodo Auth? Sign up</strong> </h5>
    <form class="create-acount" method="POST" action="#">
        <span class="error error-email"></span>
        <div class="field">
            <input placeholder="Email" id="email" type="text" name="create-email">
        </div>
        <span class="error error-password"></span>
        <div class="field">
            <input placeholder="Password" id="password" type="password" name="create-password">
        </div>
        <span class="error error-password_repeat"></span>
        <div class="field">
            <input placeholder="Password Repeat" id="password_repeat" type="password" name="create-password_repeat">
        </div>
        <div class="field">
            <input id="create" type="submit" value="Create">
        </div>
    </form>
</div>