<div class="registration">
    <form class="log-in" method="POST" action="#">
        <span class="error error-log-in-email"></span>
        <div class="field">
            <input placeholder="Email" id="email" autofocus type="text" name="log-in-email">
        </div>
        <span class="error error-log-in-password"></span>
        <div class="field">
            <input placeholder="Password" id="password" type="password" name="log-in-password">
        </div>
        <div class="field">
            <input id="log-in" type="submit" value="Log in">
        </div>
    </form>


    <h5> <strong>New to RESTodo Auth? Sign up</strong> </h5>
    <form class="create" method="POST" action="#">
        <span class="error error-create-email"></span>
        <div class="field">
            <input placeholder="Email" id="email" type="text" name="create-email">
        </div>
        <span class="error error-create-password"></span>
        <div class="field">
            <input placeholder="Password" id="password" type="password" name="create-password">
        </div>
        <span class="error error-create-password_repeat"></span>
        <div class="field">
            <input placeholder="Password Repeat" id="password_repeat" type="password" name="create-password_repeat">
        </div>
        <div class="field">
            <input id="create" type="submit" value="Sign Up">
        </div>
    </form>
</div>