<button>Create Account</button>
<form class="create-acount" method="POST" action="#">
	<div class="field">
		<label for="email">Email</label>
		<input id="email" autofocus type="text" name="email">
	</div>
	<div class="field">
		<label for="password">Password</label>
		<input id="password" type="password" name="password">
	</div>
	<div class="field">
		<label for="password_repeat">Password Repeat</label>
		<input id="password_repeat" type="password" name="password_repeat">
	</div>
	<input type="submit" value="Create">
</form>