// base
$base-bg: #FFF;
$base-shadow: #656257;
$base-white: rgb(255, 255, 255);

// main content
$main-content-bg: #BCAA92;

// messages
$messsage-bg: rgba(128, 124, 109, 0.9);
$message-color: #FFF;

// form specific
$button-hover: #4497B2;
$button-border: #499FB5;
$button-submit-bg: #5FB4CA;
$button-submit-color: #FFF;

// todo
$todo-bg: #EEEEEE;
$todo-shadow: #656257;

//errors
$error-bg: rgba(128, 124, 109, 0.9);
$error-color: #FFF;

//success
$success-bg: #5FB4CA;
$success-color: #FFF;

// registration
$registration-subimt-bg: #5FB4CA;
$registration-subimt-color: #FFF;
$registration-border: #e1e8ed;
