// base
$base-bg: #E9EAED;
$base-shadow: rgb(150, 150, 150);
$base-white: rgb(255, 255, 255);

// messages
$messsage-bg: rgba(201, 215, 199, 0.36);
$message-color: #FFF;

// form specific

// todo
$todo-bg: #EEEEEE;
$todo-shadow: rgb(85, 85, 85);

//errors
$error-bg: rgba(211, 45, 45, 0.9);
$error-color: #FFF;

//success
$success-bg: #279741;
$success-color: #FFF;

// registration
$registration-subimt-bg: #279741;
$registration-subimt-color: #FFF;
$registration-border: #e1e8ed;

// create
$create-submit-bg: #279741;
$create-submit-color: #FFF;